* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-width: 900px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: linear-gradient(#e91e63, #ffc107);*/
        clip-path: circle(22% at 30% 20%);
    }

    body::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(#fff, #da00ff);*/
        clip-path: circle(20% at 70% 90%);
    }

main {
    width: 1200px;
    height: 800px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(15px);
    z-index: 999;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    margin-top: -11%;
}

.text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: white;
    padding-top: 80px;
}

    .text-area .songName {
        font-size: 38px;
        font-weight: 550;
        user-select: none;
        color: white;
    }

    .text-area .author {
        margin-top: 5px;
        font-size: 25px;
        user-select: none;
    }

.content {
    width: 100%;
    height: 415px;
    display: flex;
    align-items: center;
    padding-top: 180px;
}

    .content .cover {
        width: 300px;
        height: 300px;
        border-radius: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-left: 10%;
        box-shadow: 0 0 10px 3px pink;
    }

        .content .cover img {
            width: 300px;
            height: 300px;
            animation: rotate 20s linear infinite;
            animation-play-state: paused;
            user-select: none;
        }

    .content .lyric {
        color: white;
        font-size: 18px;
        margin-left: 20%;
        user-select: none;
    }

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.progress_bar {
    box-sizing: border-box;
    padding: 2px 0;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: -211px;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #87b2e7;
    z-index: 1000;
}

    .progress_bar .time_bar {
        position: absolute;
        left: -1200px;
        width: 100%;
        height: 100%;
        background-color: #eb2b5c;
        transition: all 0.3s;
        cursor: pointer;
    }

    .progress_bar .time_dot {
        position: relative;
        left: 0px;
        top: -7px;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        background-color: #ff255c;
        z-index: 1000 !important;
        transition: all 0.3s;
    }

@keyframes twinkle {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 0px -3px 4px 3px rgba(217, 23, 250, 0.6);
    }
}

.control_bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(24, 71, 124, 0.52);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(35px);
    opacity: 0.6;
}

    .control_bar .showTime {
        position: absolute;
        left: 5%;
        width: 230px;
        color: white;
        user-select: none;
    }

    .control_bar .controls {
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .control_bar .controls .control {
            margin: 0 15px;
            border-radius: 50%;
            transition: all 0.5s ease;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .control_bar .controls .previous,
        .control_bar .controls .next {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s ease;
        }

            .control_bar .controls .previous:hover,
            .control_bar .controls .next:hover,
            .control_bar .controls .control:hover {
                background-color: #eb3157;
                border: 1px solid rgba(255, 255, 255, 0.1);
                box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
            }

            .control_bar .controls .previous img,
            .control_bar .controls .next img {
                width: 30px;
            }

        .control_bar .controls img {
            width: 50px;
            height: auto;
            transition: all 0.2s ease-in;
        }

    .control_bar .volume {
        position: absolute;
        right: 40px;
        display: flex;
        align-items: center;
    }

        .control_bar .volume img {
            width: 25px;
            height: 25px;
            margin-right: 15px;
        }

        .control_bar .volume input[type=range] {
            outline: 1px solid rgba(255, 255, 255, 0.2);
            -webkit-appearance: none;
            width: 100% !important;
            background: linear-gradient(to right, #fa7c9c, #ff0040) no-repeat, transparent;
            background-size: 30% 100%;
            height: 10px;
            border-radius: 100px;
        }

            .control_bar .volume input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 16px;
                width: 16px;
                background: #fff;
                border-radius: 50%;
                border: solid 1px #ddd;
            }
